

.blogPost{
  margin-top: 10em;
}

.blogPostHeader{
  text-align: center;
}


.blogPostHeader h3{

  font-weight: 500;
  font-size: 32px;
  line-height: 39px;



  color: #303030;
}


.blogGrid{
  display: grid;
  grid-template-columns: 2fr 1fr;
padding-top: 5em;

}


.leftGrid{
  width: 45em;

  position: relative;
  text-align: left;
  margin-left: 2.5em;

}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  padding-left: 1.5em;
  padding-bottom: 2.2em;
}


.leftGrid img{
 width: 100%;
  filter: brightness(65%);

}

.blogButton{
  text-decoration: none;
  background: #E5F9F8;
  opacity: 0.7;
  border-radius: 6px;
  border: none;
  color: #006179;
  width:8em;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  height: 1.8em;

  font-family: Montserrat;
}



.bottom-left h3{
font-weight: 700;
  font-size: 1.8em;
padding-top: 1em;
}



.bottom-left .brushParagraph{
      padding-right: 10em;
  line-height: 28px;
  padding-top: 0.7em;
  font-weight: 600;
}


.date{
padding-top: 1.2em;
}


.rightGridContainer{
  margin-left: -2.5em;
  display: grid;

  grid-template-rows: 1fr 1fr;
}

.rightGrid{
  width: 100%;


  position: relative;
  text-align: left;

}

.rightGrid img{
  width: 453px;
  height: 300px;
  filter: brightness(65%);


}
.bottomleftSavings{
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  padding-left: 1.5em;
  padding-bottom: 2.1em;

}

.bottomleftSavings h3{
  line-height: 27px;
  padding-right: 8em;
  padding-top: 1em;
}

.secongRightGrid{
  padding-top: 1em;
}


.contentGrid{
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding-top: 5em;
  //padding: 2px 10px;
  padding-right: 5em;
  padding-left: 8em;
  padding-bottom: 4em;
}

.signupCard{
  margin-top: 11em;
  color: white;
 background: rgba(0, 194, 181, 0.94);
  border-radius: 20px;





}
.leftSignupContent{
  font-size:1.39em;
  font-weight: 600;
  line-height: 49px;

  padding-right: 7em;
}

.blogInput{
  background: rgba(243, 233, 233, 0.4);
  border: none;
  width: 40em;
  height: 4.4em;
}

.blogForm input::placeholder{
  color: white;
  font-size: 17px;

  font-family: Montserrat;
  padding-left: 3.8em;
  line-height: normal;

padding-top: 6em;
}
.blogForm label:after {
  content: "";
  position: absolute;
  left: 8.08%;

  top:50%;
  bottom: 0;
  width: 7px;
  margin-left: 0.3em;
  height: 4px;
  background: url("data:image/svg+xml,%3Csvg width='7' height='4' viewBox='0 0 7 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.296477 1.71L2.88648 4.3C3.27648 4.69 3.90648 4.69 4.29648 4.3L6.88648 1.71C7.51648 1.08 7.06648 0 6.17648 0H0.996477C0.106477 0 -0.333523 1.08 0.296477 1.71Z' fill='%23303030'/%3E%3C/svg%3E%0A");
}
.getStartedBlog{


  color: #006179;

  background: white;
  margin-left: -12.5em;
  border: 2em black;
  font-size: 14px;
  width: 12em;
}

.getStartedBlog{

}