@media (max-width: 765px) {

  .industriesHeader h3{
    font-size: 20px !important;


  }
  .inner img{
    width: 90% !important;
    //width: 128px;





  }


  .industriesGrid{

    grid-template-rows: 1fr 1fr 1fr 1fr
  }


}



  @media (min-width: 925px) and (max-width: 1200px) {

  .industriesHeader h3{
    font-size: 25px !important;


  }
  .inner img{
    width: 90% !important;
    //width: 128px;





  }
    .industriesGrid{

      grid-template-columns: 1fr 1fr 1fr 1fr;

    }

}



  @media (min-width: 1200px) and (max-width: 1400px) {
  .industriesHeader h3{
    font-size: 28px !important;


  }
  .inner img{
    width: 92% !important;
    //width: 128px;





  }

    .industriesGrid{

      grid-template-columns: 1fr 1fr 1fr 1fr;

    }



}


@media (min-width: 1400px){
  .industriesGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr
  }


}


.industries{

  margin-top: 10em;



}



.industryContainer{

  padding-top: 7em;
}


.industriesHeader{
text-align: center;
}


.industriesHeader h3{

  font-weight: 500;
  font-size: 32px;
  line-height: 39px;



  color: #303030;
}


.industriesGrid{
justify-items: center;
  display: grid;

}

//.inner{
//height: 2em;
//}

.inner{
border-radius: 6em;
  //height: 10em;
  background: white;
  box-shadow:2px 2px 5px 5px whitesmoke;
//backdrop-filter: blur(2em);
//  display: flex;
//  width: 130px;
  //height: 156.54px;
  text-align: center;
  vertical-align: center;
  position: relative;
}

.inner img{
width: 100%;
  //width: 128px;

  height: auto;



}

.advisor{
  padding-top: 3.1em;
  padding-bottom: 3.1em;
}

.theTimes{

  padding-top: 2.1em;
  padding-bottom: 2.1em;
  padding-right: 0.5em;

}


.businessInsider{

  padding-top: 2.8em;
  padding-bottom: 2.8em;
  padding-right: 0.5em;

}

.thisIsMoney{

  padding-top: 2.2em;
  padding-bottom: 2.2em;

}