@media (max-width: 765px ) {
  .navContainer{
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  .menu{
    display: block;
    margin-left: auto;

  }
  .navLinksMobile{
    display: block;


  }
  .navLinksMobile>*{
    text-decoration: none;
    display: none;
    color: black;

  }

  .navLinks span{
display: none;
  }

  .navLinks{
   display: none;
  }
  .stores {

    display: none;
  }


}




@media (min-width: 768px )and (max-width: 923px)  {
  .navContainer{
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  .menu{
    display: none;

  }
  .navLinksMobile{
display: none;

  }
  .navLinksMobile>*{
    text-decoration: none;
    display: none;
    color: black;

  }

  .navLinks span{

    font-size: 0.6em !important;
  }

  .navLinks{
    margin-left: 0em !important;
  }
  .stores {

    display: flex;
  }

}


@media (min-width: 925px) and (max-width: 1200px)  {

  .menu{
    display:none;

  }

  .navContainer{
    max-width: 925px;
    margin: 0 auto;
    padding-left: 0.5em !important;
    padding-right: 0.5rem !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.7em !important;

  }

  nav>.navLinks>*{
    font-size: 0.6em !important;
  }

  .navLinks{
    margin-left: 0.3em !important;


  }






}
@media (min-width: 1200px) and (max-width: 1400px)  {
  .menu{
    display: none;
  }


  .navContainer{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2em !important;
    padding-right: 2em !important;
    padding-top: 1em !important;
    padding-bottom: 0.7em !important;

  }
  nav>.navLinks>*{
    font-size: 0.85em !important;
  }

  .navLinks{
    margin-left: 1em !important;


  }


}


@media (min-width: 1440px) {
  .menu{
    display: none;
  }

  .navContainer{
    max-width: 1440px;
    margin: auto;
  }


}



.navBar{

  background:#D7D7D71A;




}

nav{



  display: flex;
  align-items: center;

width: 100%;



}

.navContainer{

  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1.5em;
  padding-bottom: 1em;
}
nav{
  display: flex;
}
nav>.navLinks>*{

  //display: inline-flex;
  text-decoration: none;
  color: #303030;
  cursor: pointer;
  font-size: 14px;
font-weight: 600;

}

.navLinks{
margin-left: 2.2em;

}


.navLinks span {

  padding-left: 4em;
}


.stores{
  //margin-left: 19em;

  margin-left: auto
}

.stores button svg{

align-items: center;

  text-align: center;


}

.stores button{
border: unset;
  background: #00C2B533;
  border-radius: 2em;
  width: 46px;
  height: 46px;
}

.googleStore{
  margin-left: 1.8em;
}


