
@media (min-width: 1200px) and (max-width: 1399px)  {


  .navContainer{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2em !important;
    padding-right: 2em !important;
  }


  .navLinks{
    margin-left: 0em !important;


  }
}


@media (min-width: 1440px) {
  .navContainer{
    max-width: 1440px;
    margin: auto;
  }


}



.navBar{

  background:#D7D7D71A;




}

nav{



  display: flex;
  align-items: center;

width: 100%;



}

.navContainer{

  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1.5em;
  padding-bottom: 1em;
}
nav{
  display: flex;
}
nav>.navLinks>*{

  //display: inline-flex;
  text-decoration: none;
  color: #303030;
  cursor: pointer;
  font-size: 14px;
font-weight: 600;

}

.navLinks{
margin-left: 2.2em;

}


.navLinks span {

  padding-left: 4em;
}


.stores{
  //margin-left: 19em;

  margin-left: auto
}

.stores button svg{

align-items: center;

  text-align: center;


}

.stores button{
border: unset;
  background: #00C2B533;
  border-radius: 2em;
  width: 46px;
  height: 46px;
}

.googleStore{
  margin-left: 1.8em;
}


