@media (max-width: 765px) {


  .section{
    max-width: 765px;
    margin: 0 auto;
    padding-left: 1em !important;
    padding-right: 1em !important;
    padding-top:4em !important;
  }




  .userNumbersLeft {
    padding-right: 0em !important;
    padding-top: 0em !important;



  }





  .userNumbersParagraph{

    font-size:22px !important;
    padding-right: 5em !important;
  }

  .infoParagraph .smallParagraph{
padding-top: 0em !important;
    padding-right: 2em !important;
  }

  .rightSideUsers{
    width: 300px !important;
    padding-left : 0em !important;
    padding-top: 2em !important;

  }


  .investment{
    grid-template-rows: 2fr 2fr !important;

    padding-left: 0em !important;
    padding-right: 1em !important;
  }

  .investmentLeft{
    //padding-bottom: 3em !important
  ;

  }
  .investmentLeft img {
    width: 340px !important

  }

  .investmentParagraph{


    width:110px !important;

    font-size: 12px !important;



  }
  .investmentRight {
    padding-right: 0em !important;
    padding-top: 2.3em !important;


  }


  .investmentHeader{

    font-size: 1.7em !important

  }


  .investmentsmallParagraph{

    font-size: 16px !important;

  }

.savings{
  grid-template-rows: 2fr 2fr;
  margin-left : 0em !important;
  margin-top :0em !important
}
  .savingsLeft{
    padding-top: 3em !important;
    margin-left:0em !important;
  }
  .savingsParagraph{


    width:6em !important;

    font-size: 13px !important;

  }
  .savingsHeader{

    font-size: 1.7em !important;

  }


  .savingssmallParagraph{

    font-size: 16px !important;
    padding-right: 1em !important
  }
  .pension {
    grid-template-rows: 2fr 2fr;
    padding-left: 0em !important;
  }

  .pensionRight{
    padding-top: 2.3em !important;
    padding-right : 0em !important;
  }

  .pensionParagraph{


    width:6em !important;

    font-size: 13px !important;

  }
  .pensionHeader{

    font-size: 1.5em !important;

  }


  .pensionsmallParagraph{

    font-size: 16px !important;
    padding-right: 1em !important

  }



  .findOutMore a{


    font-size: 12px !important;

  }












}




@media (min-width: 768px) and (max-width: 923px) {

  .section{
    max-width: 768px;
    margin: 0 auto;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  .userNumbersLeft {
    padding-right: 0em !important;
    padding-top: 0.8em !important;



  }





  .userNumbersParagraph{

    font-size: 15px !important;
    padding-right: 9em !important;
  }

  .rightSideUsers{
    width: 280px !important

  }


  .investment{
    grid-template-columns: 2fr 2fr;

    padding-left: 1em !important;
    padding-right: 1em !important;
  }


  .investmentLeft img {
    width: 280px !important

  }

  .investmentParagraph{


    width:110px !important;

    font-size: 12px !important;



  }
  .investmentRight {
    padding-right: 0em !important;
    padding-top: 1.6em !important;


  }


  .investmentHeader{

    font-size: 1.4em !important

  }


  .investmentsmallParagraph{

    font-size: 13px !important;

  }


  .savingsLeft{
    padding-top: 1.6em !important;


  }
  .savingsParagraph{


    width:6em !important;

    font-size: 13px !important;

  }
  .savingsHeader{

    font-size: 1.5em !important;

  }


  .savingssmallParagraph{

    font-size: 13px !important;

  }


  .pensionRight{
    padding-top: 1.6em !important;
  }

  .pensionParagraph{


    width:6em !important;

    font-size: 13px !important;

  }
  .pensionHeader{

    font-size: 1.5em !important;

  }


  .pensionsmallParagraph{

    font-size: 13px !important;

  }



  .findOutMore a{


    font-size: 10px !important;

  }




  .userNumbers{
    grid-template-columns: 2fr 2fr;
  }



.savings{
  grid-template-columns: 2fr 2fr;
}
.pension{
  grid-template-columns: 2fr 2fr;
}


}


  @media (min-width: 925px) and (max-width: 1200px) {


  .section{
    max-width: 925px;
    margin: 0 auto;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  .userNumbersLeft {
    padding-right: 0em !important;
    padding-top: 1em !important;



  }





  .userNumbersParagraph{

    font-size: 20px !important;
    padding-right: 9em !important;
  }

  .rightSideUsers{
    width: 350px !important

  }


  .investment{
    grid-template-columns: 2fr 2fr;

    padding-left: 1em !important;
    padding-right: 1em !important;
  }


  .investmentLeft img {
    width: 370px !important

  }

  .investmentParagraph{


    width:110px !important;

    font-size: 12px !important;



  }
  .investmentRight {
    padding-right: 0em !important;
    padding-top: 2.3em !important;


  }


  .investmentHeader{

    font-size: 1.7em !important

  }


  .investmentsmallParagraph{

    font-size: 16px !important;

  }


.savingsLeft{
  padding-top: 2.3em !important;


}
  .savingsParagraph{


    width:6em !important;

    font-size: 13px !important;

  }
  .savingsHeader{

    font-size: 1.7em !important;

  }


  .savingssmallParagraph{

    font-size: 16px !important;

  }


.pensionRight{
  padding-top: 2.3em !important;
}

  .pensionParagraph{


    width:6em !important;

    font-size: 13px !important;

  }
  .pensionHeader{

    font-size: 1.5em !important;

  }


  .pensionsmallParagraph{

    font-size: 16px !important;

  }



  .findOutMore a{


    font-size: 12px !important;

  }








    .userNumbers{
      grid-template-columns: 2fr 2fr;
    }


    .savings{
      grid-template-columns: 2fr 2fr;
    }

    .pension{
      grid-template-columns: 2fr 2fr;
    }

}



  @media (min-width: 1200px) and (max-width: 1400px) {


  .section{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2em !important;
    padding-right: 2em !important;
  }
  .userNumbersLeft {
    padding-right: 6em !important;
    padding-top: 3em !important;



  }


  .userNumbersParagraph{

    font-size: 25px !important;
    padding-right: 9em !important;
  }

  .rightSideUsers{
    width: 400px !important

  }


  .investment{

      grid-template-columns: 2fr 2fr;

    padding-left: 2em !important;
    padding-right: 2em !important;
  }


  .investmentLeft img {
    width: 450px !important

  }

  .investmentParagraph{


    width:150px !important;

    font-size: 15px !important;



  }
  .investmentRight {
    padding-right: 5em !important;


  }


  .investmentHeader{

    font-size: 2em !important

  }


  .investmentsmallParagraph{

    font-size: 16px !important;

  }



  .savingsParagraph{


    width:6em !important;

    font-size: 15px !important;

  }
  .savingsHeader{

    font-size: 2em !important;

  }


  .savingssmallParagraph{

    font-size: 16px !important;

  }




  .pensionParagraph{


    width:6em !important;

    font-size: 15px !important;

  }
  .pensionHeader{

    font-size: 2em !important;

  }


  .pensionsmallParagraph{

    font-size: 16px !important;

  }



  .findOutMore a{


    font-size: 12px !important;

  }


    .userNumbers{
      grid-template-columns: 2fr 2fr;
    }

.savings{
  grid-template-columns: 2fr 2fr;
}

    .pension{
      grid-template-columns: 2fr 2fr;
    }

}




@media (min-width: 1440px) {
  .section{
    max-width: 1440px;
    margin: 0 auto;
  }

  .userNumbers{
    grid-template-columns: 2fr 2fr;
  }
  .investment{
    grid-template-columns: 2fr 2fr;
  }
.savings{
  grid-template-columns: 2fr 2fr;
}

  .pension{
    grid-template-columns: 2fr 2fr;
  }

}



.section{


  padding-left: 4em;
  padding-right: 4em;
  padding-top: 8em;
}



.userNumbersParagraph{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  display: inline-block;
  line-height: 37px;
  padding-right: 4em;
}
.userNumbers{


  //display: flex;

  display: grid;
  //flex-direction: row;


  //align-items: center;






}


.userNumbersLeft {
  padding-right: 12em;
  align-items: center;
  padding-top: 5em;

}
.smallParagraph{
  line-height: 30px;
  padding-top: 0;
}

.rightSideUsers{
  width: 472px;
  padding-left: 6em;

}

.rightSideUsers img{
  padding: 0;
  width: 100%;


}







.investmentParagraph{

  font-family: Montserrat;
  font-style: normal;
  border: none;
  background: #E5F9F8;
  border-radius: 6px;
  width:200px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
height: 2em;
text-decoration: none;
  color: #006179;
}

.investment{


  //display: flex;

  display: grid;
  //flex-direction: row;


  //align-items: center;

margin-top: 5.5em;

padding-left: 2.5em;


}


.investmentRight {
  padding-right: 8em;
  align-items: center;
  padding-top: 7em;
  padding-left: 1em;

}


.investmentHeader{
padding-top: 20px;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 49px;
}


.investmentsmallParagraph{

  font-size: 18px;
  line-height: 157.4%;
  padding-bottom: 1.6em;
}

.findOutMore{

  display: inline;

}
.findOutMore a{

  font-weight: 600;
  text-decoration: none;
  color: #015C77;
  font-size: 14px;
  line-height: 20px;
}

.arrowSpan svg{
padding-left: 5px;

}




.pensionParagraph{

  font-family: Montserrat;
  font-style: normal;
  border: none;
  background: #E5F9F8;
  border-radius: 6px;
  width:8em;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  height: 2em;
  text-decoration: none;
  color: #006179;
}

.pension{


  //display: flex;

  display: grid;
  //flex-direction: row;


  //align-items: center;

  margin-top: 6em;

  padding-left: 2.5em;


}


.pensionRight {
  padding-right: 2em;
  align-items: center;
  padding-top: 7em;
  padding-left: 1em;

}


.pensionHeader{
  padding-top: 20px;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 49px;
}


.pensionsmallParagraph{

  font-size: 18px;
  line-height: 157.4%;
  padding-bottom: 1.6em;
  padding-right: 4em;
}





.savingsParagraph{

  font-family: Montserrat;
  font-style: normal;
  border: none;
  background: #E5F9F8;
  border-radius: 6px;
  width:8em;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  height: 2em;
  text-decoration: none;
  color: #006179;
}

.savings{


  //display: flex;

  display: grid;
  //flex-direction: row;


  //align-items: center;

  margin-top: 6em;

 margin-left: 6em;


}


.savingsLeft {
  padding-right: 1em;
  align-items: center;
  padding-top: 7em;
  padding-left: 1em;

}


.savingsHeader{
  padding-top: 20px;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 49px;
}


.savingssmallParagraph{

  font-size: 18px;
  line-height: 157.4%;
  padding-bottom: 1.6em;
  padding-right: 4em;
}